[Desktop Entry]
Name=lg-ultrafine-brightness
Exec=bash -c "gnome-terminal --geometry=42x6+1480+800 -- sudo ~/.bin/LG_ultrafine_brightness"
Type=Application
